<div class = "container">
    <div class = "row">
        <div class = "col-md-7">
            <div   class="well text-center">
                <div class="header-color">
                    <br />
                    <h1> Engaging School Assemblies</h1>
                </div>
            </div>
            <p class="discguidetext">
                A major educational challenge is to communicate in a way that can hold student's attention as as create interest in the message. 
                Each of our large three-screen assemblies contains current popular music, film clips, and challenging content to spark discussion 
                and motivate healthy change.
            </p>
            <div >
              <div class = "insetborder embed-responsive embed-responsive-16by9">
               <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/182778587"frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
               <br />
            </div>
            <div class="panel text-center">
                <h1 class="discguidetitle">Who We Are</h1>
            </div>
            <p class="discguidetext">
                Camfel is a non-profit organization that specializes in creating innovating character building programs to help students make 
                the right choices when facing difficult choices.
            </p>
            <br/>
            <div class="panel text-center">
                <h1 class="discguidetitle">What We Do</h1>
            </div>
            <p class="discguidetext">
                We motivate students in all grade levels with an engaging three-screen motivational assemblypresentation. The programs relate to 
                students and a deep and meaningful way.
            </p>
            <br/>
            <div class="panel text-center">
                <h1 class="discguidetitle">Character Education Resources </h1>
            </div>
            <p class="discguidetext">
                We also offer a wide range of other character-building resources. DVDs, Banners, Posters,Buttons, classroom programs, and more
                can be found at our new Character Ed Tools website.
            </p>
        </div>
        <br />
        <div class="col-md-4">
            <br/>
            <br/>
            <div class="insetborder embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/184526486" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div>
                <h4 class="text-center">Check out what these <br/>teachers thought!</h4>
                <p>
                    “I always enjoy the shows! Very professionally produced
                    and very entertaining.”
                </p>
                <p class="text-right">
                    <strong>Channon Ruppert—Assistant Principal
                    <br/>Neff Elementary—Miamisburg, OH</strong>
                </p>
                <p>
                    “Excellent presentations! We have used Camfel in the
                    past and will continue to use you in the future! Keep up
                    the great presentations.”
                </p>
                <p class="text-right">
                    <strong>Diane Kriznik—Student Council Advisor
                    <br/>Pittsburgh, PA</strong>
                </p>
                <p>
                    “It positively impacted students to make changes in
                    their lives. I had several students stop in to discuss. 
                    Good presentation! Give us a call next year.”
                </p>
                <p class="text-right">
                    <strong>Oran Nehls—Principal<br/>
                    Denmark High School—Denmark, WI</strong>
                </p>
            </div>
        </div>
    </div>
</div>