<div class="container">
    <h1>Reaching Students with High-Impact Media</h1>
    
    <div>
        <%= image_tag("elem_linkphoto.jpg") %>
    </div>
    
    <div id="who-we-are">
        <h2>Who We Are</h2>
        <p>We are a non-profit organization that specializes in producing character-building
           resources for schools across the nation. Our three-screen assemblies are seen by 
           roughly two million students each year.
        </p>
    </div>
    
    <div id="our-objective">
        <h2>Our Objective</h2>
        <p>
            We strive to motivate and encourage your students to be the best they can be by first understanding
            and acknowleding the problems they face on a daily basis, and then by offering solutions in a format they
            can relate to.
        </p>
    </div>
    
    <div id="why-choose-camfel">
        <h2>Why Choose Camfel?</h2>
        <p>
            A major educational challenge is to communicate in a way that can hold student's attention as well as create
            interest in the message. Each of our large three-screen assemblies contains vibrant visuals, current popular
            music, and challenging content designed to spark discussion and motivate healthy change. 
        </p>
        <p>
            And after the assembly, we'll leave you with follow-up discussion materials that your teachers or school
            counselors can use in individual classroom settings.
        </p>
    </div>
    
    <div id="other-resources">
        <h2>Other Resources</h2>
        <p>
            We also offer a wide range of other character-building resources. DVDs, banners, poasters, buttons, classroom curriculum, and more 
            can be found at <a href="http://www.characteredtools.com/">CharacterEdTools.</a>
        </p>
    </div>
</div>

<div id="reviews">
    <p><strong>"I always enjoy the shows! Very professionally produced and very entertaining."</strong></p>
    <p>
      Shannon Ruppert - Assistant Principal <br />
      Neff Elementary <br />
      Miamisburg, OH
    </p>
    
    <p><strong>"Excellent presentation! We have used Camfel in the past and will continue to use them in the future! Keep up the great presentations."</strong></p>
    <p>
      Diane Kriznik - Student Counsel Advisor <br />
      Ingomar Middle School <br />
      Pittsburgh, PA
    </p>
    
    <p><strong>"It positively impacted students to make changes in their lives. I had several students students stop in to discuss. Good presentation! Give us a call next year.</strong></p>
    <p>
      Oran Nehls - Principal <br />
      Denmark High School <br />
      Denmark, WI 
    </p>
</div>