


<div class = "showinfobackground">
<div class = "container">
       <div class = "row">
      <div class = "col-md-7">
        <div class = "row">
          <div class = "col-md-6 ">
            <br/>
            <%= image_tag("beamazingmail.png", :class => "img-responsive")  %>
          </div>
          <div class = "col-md-6">
            <br/>
            <div id = "clickme" onclick = "slide()">
            <h3 class = "gibberish">Two Versions available:
              One for your K-2 students and a second for grades 3-5 </h3>
              </div>
          </div>
        </div>
        
        
        
        
       <div id = "slidein">
        <h2> Theme: Achieving Personal Excellence</h2>
        <br/>
        
          <p >Everyone wants to BE AMAZING - we talk about it, desire it, even make an effort to be it, but in the end too many fall short.<br/><br/>
 
Those who do amazing things are passionate about what they do and are driven to perform at their personal best. 
They practice self-discipline by working hard and managing their time. 
They don't get caught up in negative activities like smoking, drugs or alcohol because they're aware of the negative consequences associated with them.<br/><br/>
 
Amazing people don't let bullies, criticism, or uncontrollable circumstances hold them back from pressing on to achieve their goals. 
They recognize their limitations, but don't blame those limitations for their failures.
They learn from mistakes and enthusiastically move forward toward reaching their full potential.<br/><br/>
 
BE AMAZING! is an interactive program that will encourage your students to strive each day to attain their personal best 
and to leave behind a legacy they can be proud of - a legacy for others to follow.
 
          </p>
        
        </div>
      
      
      <div  class = "row">
    
      <div class = "col-xs-4">
        <br/>
        <br/>
        <button type="button" class="btn btn-primary btn-block" onClick="document.getElementById('discguide').scrollIntoView();">Be Amazing </br>Follow-Up Guide</button>
      </div>
      <div class = "col-xs-4">
        <br/>
        <br/>
      
        <a href = "https://characteredtools.com"><button type="button" class="btn btn-primary btn-block">Be Amazing <br/>Deluxe Package</button></a>
     
      </div>
      <div class = "col-xs-4">
        <br/>
        <br/>
      <%= link_to contact_us_path :class=> "soft-links"  do %>
      <span>
        <button type="button" class="btn btn-primary btn-block">Schedule - Get <br/>Available Dates</button>
      </span>
      <%end %>

      </div>
       
  </div>
      
      
      
      </div>
      

      <div class = "col-md-1"></div>
      <div class = "col-md-4">
        <br/>
        <br/>
        <div>
          <div class = "row">
            <div class = "col-md-3"></div>
            
            
              <br/>
             <div class = "panel text-center">
              
               <p>You may preview the presentation here!</p>
             </div>
            </div>
          
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#home">3-5 Version</a></li>
              <li><a data-toggle="tab" href="#menu1">K-2 Version</a></li>
                
            </ul>
            <div class="tab-content">
              <div id="home" class="tab-pane fade in active" >
                <div class="insetborder embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GLFnfqgkIxM" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div id="menu1" class="tab-pane fade">
                <div class="insetborder embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/B5JV-KUboSQ" frameborder="0" allowfullscreen></iframe>
                
                </div>
              </div>
            </div>
            </br>
            <p class = "text-center">The large screens and music had
                <br/>their attention the whole time.
                <br/>Kimberly Keefe, 
                Nuview Elementary,
                Nuevo, CA</p>
          </div>
        </div>
      </div>
     
  
  

  </div> 
  
  </br>
  </br>

  <div class = "well text-center">
    <h2> Be Amazing Deluxe Package</h2>
    <p> A follow-up discussion video, two 18"x24" posters, one 5'x2' banner, and 600 two-sided bookmarks can add valuable follow-up to the assembly.</p>
    <p class = "gibberish"> Camfel Productions has been making student development and bully prevention programs for 40 years. Our three-screen school assembly programs are designed to reach your students with valuable character lessons in a contemporary and attention grabbing format.</p>
   <a href = "https://characteredtools.com"><button type="button" class="btn btn-primary btn">Be Amazing <br/>Deluxe Package</button></a>
  </div>

<div  class = "discguidebackground well text-center" id= "discguide">
  <div class = "discguidetitle">
    <br/>
    <h2>Be Amazing Discussion Guide</h2>
    <br/></div>
    
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="http://docs.google.com/gview?url=http://camfel.com/pdf/guides/rightchoice_guide.pdf&embedded=true" frameborder="0"></iframe>
</div>
</div>
  
