<div class="container">
    
  <br />
    
  <h2>Get More Information</h2>
  
  <p>
      If you'd like to receive more information about Camfel Productions or any of the assemblies, please feel free to email us with your questions. <br />
      If you would rather call Camfel Productions, call <strong><a href="tel:1-800-522-6335">1-800-522-6335</a></strong>. <br />
      *We do <strong>NOT</strong> sell or share your information with anyone else.
  </p>
  
  <form action="mailto:someone@example.com" method="post" enctype="text/plain">
    <strong>Name:</strong> 
    <br />
    
    <input type="text" name="name">
    <br />
    <br />
    
    <strong>E-mail:</strong> 
    <br />
    
    <input type="text" name="mail">
    <br />
    <br />
    
    <strong>Inquiry:</strong> 
    <br />
    
    <textarea type="text" name="comment" rows="5" cols="75" id="inquiry-field"></textarea>
    
    <br />
    <br />
    
    <input class="btn btn-primary" type="submit" value="Send">
    <input class="btn btn-primary" type="reset" value="Reset">
  </form>
</div>