<div id="banner-image-2"></div>

<div class="container">
    <div id="title">
      <h1>Elementary School Assemblies</h1>
      <p>Powerful and interactive 3-screen assembly programs designed to erase the insecurities and fears students face daily, replacing them with an understanding of their true protential and the desire and motivation to be ther best they can be in whatever circumstances they face.</p>
    </div>
    
    <br />
    
    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
      <div class="col-md-6" id="assembly-links"><a href='#'>IMAGE</a></div>
      <div class="col-md-6">
        <p><strong>Theme: Making Good Choices</strong></p>
        <p>THE RIGHT CHOICE will help your students make good decisions. The program will address how the choices they make affect them in both positive and negative ways. They will learn that good decisions lead to positive actions and that the right choices will help them and their friends excel in school and in life.</p>
        <button type="button" class="btn btn-primary">Schedule</button>      
      </div>
    </div>
    
    <br />
    
    <div class="row">
      <div class="col-md-6"><a href='#'>IMAGE</a></div>
      <div class="col-md-6">
        <p><strong>Theme: Being Your Best</strong></p>
        <p>BE A HERO! will motivate your students to be heroes! They'll learn that they don't need to have a super strength or wear a cool costume to be a hero. Students will be encouraged to excel in school, to help stop bullying, and to be a role-model - a "hero" for others to follow.</p>
        <button type="button" class="btn btn-primary">Schedule</button>    
      </div>
    </div>
    
    <br />
      
    <div id="other-assemblies-button">
      <button type="button" class="btn btn-primary">Older Assemblies</button>
    </div>
</div>