<div id="banner-image-1"></div>

<div class="container">
    <div id="title">
        <h1>High School Assemblies</h1>
        <p>Powerful and interactive 3-screen assembly programs designed to erase the insecurities and fears students face daily, replacing them with an understanding of their true protential and the desire and motivation to be ther best they can be in whatever circumstances they face.</p>
    </div>
    
    <br />
    
    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
      <div class="col-xs-6" id="assembly-links"></div>
      <div class="col-xs-6">
          <p><strong>Theme: Decision Making</strong></p>
          <p>WORTH IT! will demonstrate to your students that the choices they make today will directly affect their future. They will be taught to take control of the decisions they make and that through perserverance and self-discipline, they can make the right choices - choices that will lead them to success in school and in life.</p>
          <button type="button" class="btn btn-primary">Schedule</button>      
      </div>
    </div>
    
    <br />
    
    <div class="row">
      <div class="col-xs-6"></div>
      <div class="col-xs-6">
          <p><strong>Theme: Achieving Personal Excellence</strong></p>
          <p>Amazing people don't let negative criticism, or uncontrollable circumstances hold them back from pressing on to achieve their goals. THey recognize their limitations, but don't blame those limitations for their failures. BE AMAZING! will encourage your students to strive each day to attain their personal best and to leave behind a legacy they can be proud of.</p>
          <button type="button" class="btn btn-primary">Schedule</button>    
      </div>
    </div>
    
    <br />
      
    <div id="other-assemblies-button">
      <button type="button" class="btn btn-primary">Older Assemblies</button>
    </div>
</div>