<div class = "jumbotron text-center">
  <h1>Student Development Programs That Work!</h1> 
</div>
<div class="row" >
  <div class="col-md-12">
    <div>
      <p class = "text-center"> Our school assembly programs increase your students' capacity to perform at their best, take pride in their school, and encourage their peers to make the right choices.</p>
      <h2 class="text-center">Interactive Student Assemblies</h2>
      <p class = "text-center"> We now have interactive school assemblies for <strong>all grade levels! </strong> Your students will be completely engaged and will be active participants as they learn key character-building concepts.</p>
      <h2 class = "text-center"> Motivate Your Students to Excel</h2>
      <p class = "text-center"> Our engaging 3-screen school assembly programs feature real students overcoming real problems that will resonate with your students in a very powerful way!</p>
      <div class="embed-responsive embed-responsive-16by9" ><iframe  class="embed-responsive-item"  src="https://www.youtube.com/embed/ZXsQAXx_ao0" frameborder="0" allowfullscreen ></iframe></div>
    
      <br/>
    
      <div class = "panel panel-default text-center">
        <h2> Character Education Made Easy</h2>
      </div>
      <p> Camfel Productions has been making student development and bully prevention programs for 40 years. Our three-screen school assembly programs are designed to reach your students with valuable character lessons in a contemporary and attention grabbing format.</p>
    
      <br/>
      
      <p>Let us help you create a better learning environment on your campus!</p>
      <div class = "panel panel-default text-center">
        <h2> 3-Screen School Assemblies</h2>
      </div>
      <ul>
        <li>build character</li>
        <li>Prevent Bullying</li>
        <li>Real Students Facing Real Challenges</li>
        <li>Contemporary Issues and Solutions</li>
        <li>Exciting, Motivational, and Educational</li>
      </ul>
    </div>
  </div>
</div>