<div class = "jumbotron text-center">
  <h1>Student Development Programs That Work!</h1> 
</div>
<div class="row">
  <div class="col-md-9">
    <div>
        <p> Our school assembly programs increase your students' capacity to perform at their best, take pride in their school, and encourage their peers to make the right choices.</p>
      <h2 class="text-center">Interactive Student Assemblies</h2>
      <p> We now have interactive school assemblies for <strong>all grade levels! </strong>
Your students will be completely engaged and will be active participants as they learn key character-building concepts.</p>
<h2 class = "text-center"> Motivate Your Students to Excel</h2>
<p> Our engaging 3-screen school assembly programs feature real students overcoming real problems that will resonate with your students in a very powerful way!</p>
<div id = "motivational-speech" ><iframe  width="560" height="315" src="https://www.youtube.com/embed/ZXsQAXx_ao0" frameborder="0" allowfullscreen ></iframe>
     </div>
      <br/>
      
    </div>
  </div>
  <div class="col-md-3">
    <div class="well">
      <h2 class="text-center">Assemblies are Cool!</h2>
      <h4 class = "text-center">Buttons?</h4>
      
    </div>
  </div>
</div>
