<div class = "jumbotron text-center">
  <h1>Student Development Programs That Work!</h1> 
</div>

</div>
  <div class "row">  
    <div class="col-md-6">
      <div class = "panel panel-default text-center">
          <h2> Elementary School</h2>
          
          <%= image_tag("elem_linkphoto.jpg") %>
        </div>
    </div>
    <div class="col-md-6">
      <div class = "panel panel-default text-center">
          <h2> Middle & High School</h2>
          
          
        </div>
    </div>
    <div class = "panel panel-default text-center">
        <h2> 3-Screen School Assemblies For All Ages</h2>
      </div>
  </div>