<div class = "jumbotron text-center">
  <h1>Student Development Programs That Work!</h1> 
</div>
<div class="row" >

  <div class="col-md-9">
    <div>
        <p class = "text-center"> Our school assembly programs increase your students' capacity to perform at their best, take pride in their school, and encourage their peers to make the right choices.</p>
      <h2 class="text-center">Interactive Student Assemblies</h2>
      <p class = "text-center"> We now have interactive school assemblies for <strong>all grade levels! </strong>
Your students will be completely engaged and will be active participants as they learn key character-building concepts.</p>
<h2 class = "text-center"> Motivate Your Students to Excel</h2>
<p class = "text-center"> Our engaging 3-screen school assembly programs feature real students overcoming real problems that will resonate with your students in a very powerful way!</p>
<div id = "motivational-speech" ><iframe  width="560" height="315" src="https://www.youtube.com/embed/ZXsQAXx_ao0" frameborder="0" allowfullscreen ></iframe>
     </div>
      <br/>
      <div class = "panel panel-default text-center">
          <h2> Character Education Made Easy</h2>
      </div>
      <p> Camfel Productions has been making student development and bully prevention programs for 40 years. Our three-screen school assembly programs are designed to reach your students with valuable character lessons in a contemporary and attention grabbing format.</p>
      <br/>
      <p>Let us help you create a better learning environment on your campus!</p>
      <div class = "panel panel-default text-center">
          <h2> 3-Screen School Assemblies</h2>
      </div>
      <ul>
          <li>build character</li>
          <li>Prevent Bullying</li>
          <li>Real Students Facing Real Challenges</li>
          <li>Contemporary Issues and Solutions</li>
          <li>Exciting, Motivational, and Educational</li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well">
      <h2 class="text-center">Assemblies are Cool!</h2>
      <h4 class = "text-center">Buttons?</h4>
      <p>"Camfel is a 15 year tradition at our school. Every show has been entertaining, exciting, educational and exemplary!"</p>
        <p>Paul R. Nostrand - Counselor <br/>
            Wappingers Jr. High School <br/>
            Wappingers Falls, NY</p>
        <br/>
        <p>"Your programs are always up to date and address topics of interest to the students. They make the students stop and think and reflect on their own situations."</p>
        <p>Debbie Lauppe - Academic Advisor<br/>
        East Nicolaus High School<br/>
        Nicolaus, CA</p>
        <br/>
        <p>"Overall the production and theme value were excellent. A 10 on a scale of 1 to 10."</p>
        <p>Bruce Wyckoff - Assistant Principal<br/>
        Winslow Middle School<br/>
        Atco, NJ</p>
        <br/>


    </div>
  </div>
</div>
