
<div   class="panel panel-default text-center">
  <div class="header-color">
          
    </br>
    
    <h1> 3-Screen School Assemblies for Each Grade Level</h1>
    <p >Camfel Productions produces student development and bully prevention programs. Our three-screen school assemblies
are designed to reach your students with valuable character education lessons in a contemporary and engaging way</p>
  </div>
</div>

<!-- Center with Picture links -->

<div class="backgroundimage">  
  
  </br>
  
  <div class = "container">
  <div class = "row">
  
  <div class="col-md-6">
   
    <div id = "elementarylink" class = "fadein panel panel-default text-center" onload = "fadeElem()">
       <%= link_to elementary_path :class=> "soft-links"  do %>
         <span >
          
          <h2> Elementary School</h2>
          <%= image_tag("elem_linkphoto.jpg",:class=> "hover" )  %>
        
          </br>
          </br>
          
        </span>
      <% end %>
    </div>
    
  </div>
  <div class="col-md-6">
    <div id = "highschoollink" class = "fadein panel panel-default text-center">
      <%= link_to highschool_path :class=> "soft-links" do %>
        <span>
          <h2> Middle & High School</h2>
          <%= image_tag("jr_srhslink_photo.jpg",:class=> "hover") %>
      
          </br>
          </br>
        </span>
      <% end %>
    </div>
    </div>

</div>
</div>


</div>


