<div class = "panel panel-default text-center">
  <div class = "header-color">
          
    </br>
    
    <h1 class = > 3-Screen School Assemblies For All Ages</h1>
    <p> We have assemblies for k-5th Grade and 6th-12th grade. Please make the appropriate selection below.</p>
  </div>
</div>

<!-- Center with Picture links -->

  
<div class "row">  
  </br>
  <div class="col-md-2">
    <p> </p>
  </div>
    
  <div class="col-md-4">
    <div class = "panel panel-default text-center">
      <h2> Elementary School</h2>
      <a href ="#" class = "hover"><%= image_tag("elem_linkphoto.jpg") %></a>
        
      </br>
      </br>
        
    </div>
  </div>
  <div class="col-md-4">
    <div class = "panel panel-default text-center">
      <h2> Middle & High School</h2>
      <a href ="#" class = "hover"><%= image_tag("jr_srhslink_photo.jpg") %></a>
      
      </br>
      </br>
      
    </div>
  </div>
  <div class="col-md-2">
    <h2> stuff</h2>
  </div>
</div>
