


<div class = "showinfobackground">
<div class = "container">
       <div class = "row">
      <div class = "col-md-8">
        <div class = "row">
          <div class = "col-md-6 ">
            <br/>
            <%= image_tag("right_choice_logo.png", :class => "img-responsive")  %>
          </div>
          <div class = "col-md-6">
            <br/>
            
            <h3>Two Versions available:
              One for your K-2 students and a second for grades 3-5 </h3>
          </div>
        </div>
        
        
        
        
       <div id = "firstset">
        <h2> Theme: Making Good Decisions</h2>
        <br/>
        
          <p >The RIGHT CHOICE will help your elementary students discern which decisions are the best
            decisions. The program will address how the choices they make will affect hem in both positive
            and negative ways. Positive choices like being active, eating the right food, listening to their
            teacher, doing their homework, and being a good friend, will help them feel healthy, get along
            with others, and enable them to do well in school. Negative choices, like eating junk food, acting
            up in class, and being a bully, will only bring trouble.
            The RIGHT CHOICE provides students with the skills needed to handle bullying, make good
            choices, and encourage them to help those around them. They will learn that good decisions lead
            to positive actions, and that the right choices will help them and their friends excel in school and
            in life. 
          </p>
        
        </div>
      
        </br>
        </br>
      
      </div>
      

 
      <div class = "col-md-4">
        <div >
          <h2>Preview</h2>
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#home">3-5 Version</a></li>
              <li><a data-toggle="tab" href="#menu1">K-2 Version</a></li>
                
            </ul>
            <div class="tab-content">
              <div id="home" class="tab-pane fade in active" >
                <div class="insetborder embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GLFnfqgkIxM" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div id="menu1" class="tab-pane fade">
                <div class="insetborder embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/B5JV-KUboSQ" frameborder="0" allowfullscreen></iframe>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
  
  
  <div  class = "row">
    
      <div class = "col-xs-6">
        <br/>
        <br/>
        <button type="button" class="btn btn-primary btn-block" onClick="document.getElementById('discguide').scrollIntoView();"><h2>Check Out The Discussion Guide</h2></button>
      </div>
      <div class = "col-xs-6">
        <br/>
        <br/>
      <%= link_to contact_us_path :class=> "soft-links"  do %>
      <span>
        <button type="button" class="btn btn-primary btn-block"><h2>Contact Us</h2></button>
      </span>
      <%end %>

      </div>
       
  </div>
  </div> 
  
  </br>
  </br>

  <div class = "well text-center">
    <h2> The Right Choice Deluxe Package</h2>
    <p> A follow-up discussion video, two 18"x24" posters, one 5'x2' banner, and 600 two-sided bookmarks can add valuable follow-up to the assembly.</p>
    <p class = "gibberish"> Camfel Productions has been making student development and bully prevention programs for 40 years. Our three-screen school assembly programs are designed to reach your students with valuable character lessons in a contemporary and attention grabbing format.</p>
  
  </div>

<div  class = "discguidebackground well text-center" id= "discguide">
  <div class = "discguidetitle">
    <br/>
    <h2>The Right Choice Discussion Guide</h2>
    <br/></div>
    
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="http://docs.google.com/gview?url=http://camfel.com/pdf/guides/rightchoice_guide.pdf&embedded=true" frameborder="0"></iframe>
</div>
</div>
  
<script>
$("p").click(function(){
    $("#firstset").slidetoggle(1000);
});


</script>
