<div class = "panel panel-default text-center">
  <div class = "header-color">
       
    <br />
    
    <h1 class = > The Right Choice K-5th Assembly</h1>
    <p> An important school assembly about the importance of making the right choices</p>
  </div>
</div>

<div class = "row">  
  <div class = "col-md-1"></div>
    <div class = "col-md-5">
      <h2> Theme: Making Good Choices</h2>
      <p>Every day each one of us has so many choices to make. We choose what we will wear, what we will eat, what friends to hang out with, what to do with our spare time, and we even choose our attitude!
         We all have the power to choose, but are all our choices the right ones?
         Camfel Productions' THE RIGHT CHOICE will help your elementary students discern which decisions are the best decisions. 
         The program will address how the choices they make will affect them in both positive and negative ways.
         Positive choices like being active, eating the right food, listening to their teacher, doing their homework, and being a good friend, 
         will help them feel healthy, get along with others, and enable them to do well in school. 
         Negative choices, like being a couch potato, eating junk food, acting up in class, and being a bully, will only bring trouble.
         THE RIGHT CHOICE will encourage your students to be great decision makers.  
         They will learn that good decisions lead to positive actions, and that the right choices will help them and their friends excel in school and in life.
      </p>
    
      </br>
      </br>
    
    </div>
    <div class = "col-md-5">
      <div>
        <h2>Preview</h2>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">3-5 Version</a></li>
            <li><a data-toggle="tab" href="#menu1">K-2 Version</a></li>
              
          </ul>
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GLFnfqgkIxM" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div id="menu1" class="tab-pane fade">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/B5JV-KUboSQ" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
<br />
<br />

<div class = "row">
  <div class = "col-md-1"></div>
    <div class = "col-md-5">
      <a href="#discguide" class="btn btn-primary  btn-block" role="button"><h2>Check Out The Discussion Guide</h2></a>
    </div>
    <div class = "col-md-5">
      <button type="button" class="btn btn-primary btn-block" onClick="document.getElementById('discguide').scrollIntoView();"><h2>Schedule A Show</h2></button>
    </div>
</div>

</br>
</br>

<div class = "well text-center">
  <h2> The Right Choice Deluxe Package</h2>
  <p> A follow-up discussion video, two 18"x24" posters, one 5'x2' banner, and 600 two-sided bookmarks can add valuable follow-up to the assembly.</p>
</div>
    
<div class = "well text-center" id= "discguide">
  <h2>The Right Choice Discussion Guide</h2>
  <iframe src="http://docs.google.com/gview?url=http://camfel.com/pdf/guides/rightchoice_guide.pdf&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
</div>
            
            
           