


<div class = "showinfobackground">
  <div class = "container">
  
       <div class = "row">
      <div class = "col-md-7">
        <div class = "row">
          <div class = "col-md-6 ">
            <br/>
            <%= image_tag("right_choice_logo.png", :class => "img-responsive")  %>
          </div>
          <div class = "col-md-6">
            <br/>
            <div>
            <h3 >Two Versions available:
              One for your K-2 students and a second for grades 3-5 </h3>
              </div>
          </div>
        </div>
        
        
        
        
       <div>
        <h2> Theme: Making Good Decisions</h2>
        <br/>
        
          <p >The RIGHT CHOICE will help your elementary students discern which decisions are the best
            decisions. The program will address how the choices they make will affect hem in both positive
            and negative ways. Positive choices like being active, eating the right food, listening to their
            teacher, doing their homework, and being a good friend, will help them feel healthy, get along
            with others, and enable them to do well in school. Negative choices, like eating junk food, acting
            up in class, and being a bully, will only bring trouble.
            The RIGHT CHOICE provides students with the skills needed to handle bullying, make good
            choices, and encourage them to help those around them. They will learn that good decisions lead
            to positive actions, and that the right choices will help them and their friends excel in school and
            in life. 
          </p>
        
        </div>
      
      
      <div  class = "row">
    
      <div class = "col-md-3">
        <br/>
        <br/>
        <div onClick="document.getElementById('discguide').scrollIntoView();">
          <button type = "button" class = "btn freebutton">FREE</button>
        <button type="button" class="btn btn-primary btn-block " >Right Choice </br>Follow-Up Guide</button>
        </div>
      </div>
      <div class = "col-md-3">
        <br/>
        <br/>
      
        <a href = "http://characteredtools.com/assemblies/therightchoice.html"><button type="button" class="btn btn-primary btn-block ">Right Choice <br/>Deluxe Package</button></a>
     
      </div>
      <div class = "col-md-3">
        <br/>
        <br/>
      <%= link_to contact_us_path :class=> "soft-links"  do %>
      <span>
        <button type="button" class="btn btn-primary btn-block ">Schedule - Get <br/>Available Dates</button>
      </span>
      <%end %>

      </div>
        <div class = "col-md-3">
        <br/>
        <br/>
       <%= link_to asset_path("the_right_choice_info.pdf")  do %>
        <span>
          <button type="button" class="btn btn-primary btn-block">Printable </br>Flyer</button>
        </span>
      <%end %> 
    <br/></div>
  </div>
      
      
      
      </div>
      

      <div class = "col-md-1"></div>
      <div class = "col-md-4">
        <br/>
        <br/>
        <div>
          <div class = "row">
            <div class = "col-md-3"></div>
            
            
              
             <div class = "panel text-center">
              
               <p>You may preview the presentation here!</p>
               </br>
             </div>
            </div>
          
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#home">3-5 Version</a></li>
              <li><a data-toggle="tab" href="#menu1">K-2 Version</a></li>
                
            </ul>
            <div class="tab-content">
              <div id="home" class="tab-pane fade in active" >
                <div class="insetborder embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/193970222?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
              </div>
              <div id="menu1" class="tab-pane fade">
                <div class="insetborder embed-responsive embed-responsive-16by9">
                  <iframe  class="embed-responsive-item" src="https://player.vimeo.com/video/193970709" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                </div>
              </div>
            </div>
                        <!-- carousel begins -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <p class = "text-center carouselpad"> The large screens and music had their attention the whole time. 
      </br>Kimberly Keefe, Nuview Elementary, Nuevo, CA</p></br></br></br>
    </div>

    <div class="item">
      <p class = "text-center "> The presentation itself was great. 
      The kids enjoyed the visual/tech aspects of the presentation. 
      </br>Angela Nelson, Sporting Hill Elementary, Mechanicsburg, PA </p></br></br>
    </div>

    <div class="item">
      <p class = "text-center "> Yes, our students loved it! 
      I have several students who were very moved by the program 
      and have plans to start their own clothing drive for others in needs.  
      I love that this program had this type of impact on our students.  
      </br>Sara Mays, Mount Sterling Elementary, </br>Mount Sterling, KY</p>
    </div>

    <div class="item">
      <p class = "text-center "> Both presenters did a great job launching, 
      interacting mid-way and summarizing with the tic-tac-toe event. 
      <br/>Robert Klemt, Liberty Middle School, West Orange, CA</p></br></br></br>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
     <!-- carousel ends --> 
          </div>
        </div>
      </div>
     
  
  

 
  
  </br>
  </br>

  <div class = "well text-center">
    <h2> The Right Choice Deluxe Package</h2>
    <p> A follow-up discussion video, two 18"x24" posters, one 5'x2' banner, and 600 two-sided bookmarks can add valuable follow-up to the assembly.</p>
     
    <br/>
  <div class = "discguidetitle" id = "discguide">
    <br/>
    <h2>The Right Choice Discussion Guide</h2>
    <%= link_to asset_path("rightchoice_guide.pdf")  do %>
        <span>
          <button type="button" class="btn btn-primary">Download PDF</button>
        </span>
      <%end %> 
    <br/></div>
    
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="/rightchoice_guide.pdf" frameborder="0"></iframe>
</div>
</div>
 </div> 
</div>
