/*************************************************************************
NAV BAR
*************************************************************************/
.navbar-collapse {
  text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}



/*************************************************************************
BODY
*************************************************************************/
p {
  margin: 20px 0 0 0;
}

desaturate {
	filter: grayscale(100%);
}



/*************************************************************************
FOOTER
*************************************************************************/
footer {
  background: #42A5F5;
  color: white;
  line-height: 50px;
  padding: 0 20px;
}


