/*************************************************************************
NAV BAR
*************************************************************************/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-custom {
    background-color: #101010;
    border-color: #E7E7E7;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
    font-weight: bold;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus { 
	color: #3899ec;
	background-color: #101010;
}

.navbar-custom .navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #FFF;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.icon-bar {
	background-color: #3899ec;
}

.soft-link {
    -webkit-transition: color .25s linear;
    -moz-transition: color .25s linear;
    -ms-transition: color .25s linear;
    -o-transition: color .25s linear;
    transition: color .25s linear;
}

.active {
	color: #3899ec;
}



/*************************************************************************
HOME PAGE BODY
*************************************************************************/
body {
	background-color: transparent;
}

p {
  margin: 20px 0 0 0;
}

.hover:hover { 
   filter: grayscale(100%);
}

.backgroundimage {
	background: url('inspiring_notype.jpg');
}

.panels {
	background-color: purple;
	color: white;
}
.gibberish {
	font-family: wingdings;
	
}

.fadein {
	display: none;
}

.md-size-text {
	font-size: 18px;
}

.btn-margin-top {
	margin-top: 15px;
}

.padding-top-bottom {
	padding: 20px 0 10px 0;	
}

.margin-top {
	margin-top: 20px;
}



/*************************************************************************
ELEMENTARY / HIGH SCHOOL PAGE BODY
*************************************************************************/
#banner-image-1 {
  	width: 100%;
  	background-image: url('mhs_assembly_banner.JPG');
  	height: 405px;
  	background-color: purple;
  	background-position: center;
}

#banner-image-2 {
  	width: 100%;
  	background-image: url('Elementary_Assembly_Banner.png');
  	height: 405px;
  	background-color: blue;
  	background-position: center;
}

#title {
	text-align: center;
}

.btn.btn-primary {
	background-color: #3899ec;
	margin: 0 10px 0 10px;
}

#presentation-summary {
	border-bottom: solid 1.25px;
	border-top: solid 1.25px; 
	padding: 25px;
}

#other-assemblies-button {
    text-align: right;
    margin: 1.5px 0 0 0;
}

.img-responsive {
	padding-top: 2.75%;
}

@media only screen and (max-width: 1023px) {
	#elementaryschool {
		margin-bottom: 15px;
	}	
}

@media only screen and (max-width: 1007px) {
    #presentation-summary {
    	border-bottom: solid 1.25px;
    	border-top: none;
		padding: 45px 0 55px 0;
    }
    
    #production-explanation {
    	border-top: solid 1.25px;
    	border-bottom: solid 1.25px;
    	padding: 33px 0 33px 0;
    }
}

@media only screen and (max-width: 799px) {
	#presentation-summary {
    	border-bottom: solid 1.25px;
    	border-top: none;
		padding: 25px 25px 85px 25px;
    }
    
    #other-assemblies-button {
    	text-align: center;
    }
    
    .btn.btn-primary {
		background-color: #3899ec;
		margin: 15px 0 0 10px;
	}
}

@media only screen and (max-width: 333px) {
	#presentation-summary {
    	border-bottom: solid 1.25px;
    	border-top: none;
		padding: 25px 15px 95px 15px;
    }
    
    #other-assemblies-button {
    	text-align: center;
    	margin: -20px 0 0 0;
    }
    
    .btn.btn-primary {
		background-color: #3899ec;
		margin: 20px 0 0 10px;
	}
}



/*************************************************************************
ABOUT PAGE
*************************************************************************/
.discguidebackground {
    background: #0575E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0575E6 , #021B79); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0575E6 , #021B79); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.discguidetitle {
	background-color: Black;
	color: white;
	font-family: fantasy;
}

.discguidetext {
	text-align: center;
}



/*************************************************************************
CONTACT US BODY
*************************************************************************/
#inquiry-field {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    resize: none;

    width: 100%;
}

#contact-us-title {
	border-bottom: solid 1.25px;
	padding-bottom: 15px;
}

#contact-us-paragraph {
	margin-top: 15px;
}

@media only screen and (max-width: 783px) {
	#contact-us-title {
		text-align: center;
	}
	
	#contact-us-paragraph {
		text-align: center;
	}
	
	#camfel-form {
		text-align: center;
	}
}



/*************************************************************************
FOOTER
*************************************************************************/
.full {
    width: 100%;	
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #101010;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #FFFFFF;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #000;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #3899ec;;
}
.social li:hover {
	border: 2px solid #3899ec;
	background: #3899ec;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}

.container ul li a:hover {
	color: #3899ec;
	text-decoration: none;
}

.callmemaybe {
	font-size: large;
}


/*************************************************************************
Show Information Pages
*************************************************************************/
.insetborder {
	border-style: inset;
	border-radius: 5px;
}

.showinfobackground {
	background: #FFAFBD; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFAFBD , #ffc3a0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFAFBD , #ffc3a0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.h2wannabe {
	display: block;
    font-size: 1.75em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.freebutton {
	position: absolute;
	top:2em;
	left:1em;
	-ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
    transform: rotate(-30deg);
    background-color: red;
    padding: 10px;
}
 .panel-freebutton{
    background-image: none;
   
    color: white;
    border: none;

}
.carousel-control.left, .carousel-control.right {
    background-image: none
}

