<!DOCTYPE html>
<html>
<head>
  <title>Camfel Productions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="description" content="Camfel Productions has been making student development and bully prevention programs for 40 years. Our three-screen school assembly programs are designed to reach your students with valuable character lessons in a contemporary and attention grabbing format.">
  <meta name="keywords" content="bullying prevention, anti-bullying, character development"> <!-- add more keywords -->
  <meta name="author" content="Camfel Productions">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<!-- Begin Body -->
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Camfel Productions</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Help <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Assemblies
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">K - 5 Assemblies</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">6 - 8 Assemblies</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">9 - 12 Assemblies</a></li>
          </ul>
        </li>
        <li><a href="#">Set-Up</a></li>
        <li><a href="#">Scheduling & Cost</a></li>
        <li><a href="#">Videos & More</a></li>
        <li><a href="#">Downloads</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br />
<br />


<%= yield %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

<!-- Begin footer -->
<footer class="footer">
  <div class="container">
    <p>Camfel Productions 1-800-522-6335</p>
  </div>
</footer>

</html>
